body {
               
                background: #000 url(../images/Background2.jpg) center center fixed no-repeat;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size:cover;
                } 
                              
               
               
                .liPadding{
                  padding-right:0px;
                }
            
           

          
              #map_button{
                  background-color: Transparent;                
                  cursor:pointer;                
                  position:fixed;
                  border: none;
                  bottom: 0%;             
                  left: 50%;
                  margin-left: -35px;
                  
                  
                 
              }

                #manual_button{
                 background-color: Transparent;                
                  cursor:pointer;                
                  position: fixed;
                  border: none;
                  right: 1%;
                  bottom: 0%;             
                  
                 
              }
              #current_location{
                  background-color: Transparent;                
                  cursor:pointer;                
                  position: fixed;
                  border: none;
                  left: 1%;
                  bottom: 0%;               
                
                  
              }
              #address_button{
                  background-color: Transparent;
                  background-repeat:no-repeat;
                  border: none;
                  cursor:pointer;
                  overflow: hidden;
                  outline:none;
                  position: fixed;
                  left: 0px;
                  top: 0px;

              }
              #detail_button{
                   background-color: transparent;                  
                  border: none;
                  cursor:pointer;                
                  position: fixed;
                  left: 47%;
                  top: 48%;
                                                   
                
              }

              #txt{
                    background: #FFF url(http://html-generator.weebly.com/files/theme/input-text-9.png) no-repeat 4px 4px; 
                    border: 1px solid #999; 
                    outline:0; 
                    padding-left: 25px;
                    height:25px; 
                    width: 75%; 
                    position: fixed;
                    left: 40px;
                    top: 5px;
                    opacity: 0.4;
              }
          
              .b_form{
     
                   position: fixed;
                   width: 96%;
                   top: 54%;
                
              }
              .b_form textarea {
                  background-color: #7094FF;
                  
                  height:150px;
                  width:95%;
                  align-self: center;
                  overflow-y: scroll;
                  
                    
              }

             